@using System.Globalization
@model List<ATActivity>

@{
    ViewBag.Title = "Activities";
    Layout = "_Layout";
}

<h1>Activities</h1>

@foreach (var activity in Model)
{
    <div>
        <h3>@activity.Name</h3>
        <h4>@activity.Date.ToString("MM/dd/yyyy 'at' h:mm tt")</h4>
        @activity.Description
        <br/>
        <a asp-action="Edit" asp-route-id="@activity.Id" class="btn btn-light">Edit</a> |
        <a asp-action="Delete" asp-route-id="@activity.Id" class="btn btn-danger">Delete</a>
    </div>
    <br/>
}
